.Title {
    font-size: 1.8rem;
    font-weight: 200;
    font-family: "DM Sans", sans-serif;
    color: #FFFFFF;
}

.Subtitle {
    font-size: 1.3rem;
    font-weight: 200;
    font-family: "DM Sans", sans-serif;
    color: #B5C0C9;
    z-index: 1;
}

.TitleAndSubtitle.centered {
    text-align: center;
    align-items: center;
    justify-content: center;
}


/* FEATURES */
/* .TitleAndSubtitle.features .Title {
    font-size: 28px;
    font-weight: 200;
    color: #fff;
} */

/* .TitleAndSubtitle.features .Subtitle {
    font-family: "DM Sans", sans-serif;
    font-size: 4rem;
    color: #85b0d9;
    font-weight: 300;
    margin-top: 30px;
} */

/* White background */
.TitleAndSubtitle.whiteBackground .Title {
    font-size: 1.8rem;
    font-weight: 300;
    color: #052D50;
}

.TitleAndSubtitle.whiteBackground .Subtitle {
    font-size: 1rem;
    color: #85b0d9;
    font-weight: 300;
}


.TitleAndSubtitle.blueBlock .Title {
    font-family: "DM Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    color: #FFFFFF;
    margin-top: 20px;

}

.TitleAndSubtitle.blueBlock .Subtitle {
    font-family: "DM Sans", sans-serif;
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 200;
    margin-top: 20px;
}

.TitleAndSubtitle.pricingTitle .Title {
    font-family: "DM Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 10px;
}

.TitleAndSubtitle.pricingTitle .Subtitle {
    font-family: "DM Sans", sans-serif;
    font-size: 1.3rem;
    color: #B5C0C9;
    font-weight: 200;
}

.TitleAndSubtitle.pricingPackage .Title {
    font-family: "DM Sans", sans-serif;
    font-size: 1.8rem;
    font-weight: 200;
    color: #FFFFFF;
    margin-top: 25px;

}

.TitleAndSubtitle.pricingPackage .Subtitle {
    font-family: "DM Sans", sans-serif;
    font-size: 1.3rem;
    color: #FFFFFF;
    font-weight: 200;
}

@media (min-width: 992px) {

    .Title {
    font-size: 2rem;
    font-weight: 200;
    font-family: "DM Sans", sans-serif;
    color: #FFFFFF;
}

    .Subtitle {
        font-size: 1.5rem;
        font-weight: 200;
        font-family: "DM Sans", sans-serif;
        color: #B5C0C9;
        z-index: 1;
    }

    .TitleAndSubtitle.centered {
        text-align: center;
        align-items: center;
        justify-content: center;
    }


    /* FEATURES */
    .TitleAndSubtitle.features .Title {
        font-size: 1.5rem;
        font-weight: 200;
        color: #fff;
    }

    .TitleAndSubtitle.features .Subtitle {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        color: #85b0d9;
        font-weight: 300;
        margin-top: 30px;
    }

    /* White background */
    .TitleAndSubtitle.whiteBackground .Title {
        font-size: 2rem;
        font-weight: 300;
        color: #052D50;
    }

    .TitleAndSubtitle.whiteBackground .Subtitle {
        font-size: 1rem;
        color: #85b0d9;
        font-weight: 300;
    }


    /* White background */
    .TitleAndSubtitle.blueBlock .Title {
        font-family: "DM Sans", sans-serif;
        font-size: 2rem;
        font-weight: 200;
        color: #FFFFFF;
        margin-top: 20px;

    }

    .TitleAndSubtitle.blueBlock .Subtitle {
        font-family: "DM Sans", sans-serif;
        font-size: 1.5rem;
        color: #FFFFFF;
        font-weight: 200;
        margin-top: 20px;
    }

    .TitleAndSubtitle.pricingTitle .Title {
        font-family: "DM Sans", sans-serif;
        font-size: 1.2rem;
        font-weight: 400;
        color: #FFFFFF;
        margin-top: 20px;
    }

    .TitleAndSubtitle.pricingTitle .Subtitle {
        font-family: "DM Sans", sans-serif;
        font-size: 0.9rem;
        color: #B5C0C9;
        font-weight: 200;
    }

    .TitleAndSubtitle.pricingPackage .Title {
        font-family: "DM Sans", sans-serif;
        font-size: 1.2rem;
        font-weight: 200;
        color: #FFFFFF;
        margin-top: 40px;

    }

    .TitleAndSubtitle.pricingPackage .Subtitle {
        font-family: "DM Sans", sans-serif;
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 200;
    }
}