.custom-container {
    display: flex;
    align-items: center;
    padding: 14px 20px;
    max-width: 420px;
    margin: 0 auto;
    width: 100vw;
    box-sizing: border-box;
}

.custom-container>*:last-child {
    margin-right: 20px;
}

.btn-primary {
    background: linear-gradient(145deg, #0066ff, #004de6);
    border: none;
    border-radius: 12px;
    padding: 10px 28px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    color: #ffffff;
    letter-spacing: 0.03rem;
    transition: all 0.25s ease;
    box-shadow: 0 0 8px rgba(0, 102, 255, 0.4);
}


.header-nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 20px 0;
}

.btn-primary:hover {
    background: linear-gradient(145deg, #1f7aff, #0059e6);
    transform: translateY(-2px);
    box-shadow: 0 0 14px rgba(0, 128, 255, 0.6);
}

.btn-primary:active {
    transform: translateY(1px);
    box-shadow: 0 0 4px rgba(0, 102, 255, 0.3);
}

.btn-outline-light {
    background: transparent;
    color: #e6e9ee;
    border: 1px solid rgba(70, 118, 255, 0.6);
    border-radius: 12px;
    padding: 9px 26px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    letter-spacing: 0.03rem;


    transition: all 0.25s ease;
}

.btn-outline-light:hover {
    background: rgba(0, 89, 230, 0.15);
    color: #ffffff;
    border-color: #007bff;
}

/* BUTTONS */
.HeaderButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 20px;
    width: auto;
    transition: 0.3s;
}

.logo-img:hover {
    transform: scale(1.03);
}

/* .custom-nav .nav-link{
    font-size: 17px;
    color: #B5C0C9;
    font-family: "DM Sans", sans-serif;  
    font-weight: 400;
    letter-spacing: 0.3px;
    transition: color 0.25s ease, border-color 0.25s ease;
    margin: -20px 0;


} */

/* BURGER */

/* .navbar-toggler {
    border: 1px solid #B5C0C9;         
    border-radius: 8px;
    background: rgba(181, 192, 201, 0.1);
    padding: 6px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease;
} */

/* .navbar-toggler:hover {
    border-color: #ffffff;
    background: rgba(255, 255, 255, 0.15);
} */

/* ICON */
/* .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23B5C0C9' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    background-size: 20px 20px;
    width: 22px;
    height: 22px;
} */

.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='%23FFFFFF' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


/* MEDIA 768 PX */
/* @media (min-width: 768px) {

.tot-nav-box{
    display: flex;
    flex-direction: column;
}
} */

/* === MEDIA 992 PX === */
@media (min-width: 992px) {

    /* ===  Try for free === */
    .btn-primary {
        background: linear-gradient(145deg, #0066ff, #004de6);
        border: none;
        border-radius: 12px;
        padding: 10px 28px;
        font-family: "DM Sans", sans-serif;
        font-weight: 200;
        font-size: 1.3rem;
        color: #ffffff;
        letter-spacing: 0.3px;
        transition: all 0.25s ease;
        box-shadow: 0 0 8px rgba(0, 102, 255, 0.4);
    }

    .btn-primary:hover {
        background: linear-gradient(145deg, #1f7aff, #0059e6);
        transform: translateY(-2px);
        box-shadow: 0 0 14px rgba(0, 128, 255, 0.6);
    }

    .btn-primary:active {
        transform: translateY(1px);
        box-shadow: 0 0 4px rgba(0, 102, 255, 0.3);
    }

    .btn-outline-light {
        color: #e6e9ee;
        border: 1px solid rgba(70, 118, 255, 0.6);
        border-radius: 12px;
        padding: 9px 26px;
        font-family: "DM Sans", sans-serif;
        transition: all 0.25s ease;
    }

    .btn-outline-light:hover {
        background: rgba(0, 89, 230, 0.15);
        color: #ffffff;
        border-color: #007bff;
    }


    .custom-container {
        display: flex;
        max-width: 1440px;
        padding: 16px 60px;
    }

    .logo-img {
        height: 30px;
    }

    .custom-nav .nav-link {
        font-size: 1.4rem;
        color: #B5C0C9;
        font-family: "DM Sans", sans-serif;
        font-weight: 200;
        letter-spacing: 0.01rem;
        transition: color 0.25s ease, border-color 0.25s ease;

    }


    .HeaderButtons {
        display: flex;
        flex-direction: row;

    }

}


#checkbox {
    display: none;
}

.tot-toggle {
    position: relative;
    width: 20px;
    height: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    transition-duration: .12s;
    margin: 10px 0;
    display: none;
}

@media screen and (max-width: 992px) {
    .tot-toggle {
        display: flex;
    }
}

.tot-bars {
    width: 100%;
    height: 2px;
    background-color: white;
    border-radius: 3px;
    transition-duration: .12s;
    transition-timing-function: ease-in-out;
}

#checkbox:checked+.tot-toggle #bar1 {
    transform: rotate(45deg) translateY(-6px);
    transition-duration: .12s;
    transition-timing-function: ease-in-out;
    transform-origin: left center;
}

#checkbox:checked+.tot-toggle #bar3 {
    transform: rotate(-45deg) translate(1px, 4px);
    transition-duration: .12s;
    transition-timing-function: ease-in-out;
    transform-origin: left center;
}

.tot-nav {
    width: 100vw;
    position: fixed;
    background-color: rgb(0, 5, 9);
    z-index: 10;
    padding: 10px;
    transition: 0.5s ease-in-out;
}

.tot-nav-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    box-shadow:
        inset 0px 1px 1px #0785F470,
        inset 0px 2px 2px #0785F450,
        inset 0px 4px 4px #0785F430,
        inset 0px 8px 8px #0785F420,
        inset 0px 16px 16px #0785F410,
        0px -1px 1px #0785F405,
        0px -2px 2px rgba(0, 0, 0, 0.03),
        0px -4px 4px rgba(0, 0, 0, 0.05),
        0px -8px 8px rgba(0, 0, 0, 0.06),
        0px -16px 16px rgba(0, 0, 0, 0.08);

    border: solid 1px #1A3247;
    border-radius: 6px;
    padding: 12px;

}

.tot-nav-box>a {
    color: white;
    text-decoration: none;
}

.tot-nav-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.tot-nav-buttons>a {
    width: 50%;
}

.nav-close {
    transform: translateY(-1000px);
    scale: 0.2;
}

.nav-open {
    scale: 1;
    transform: translateY(0px);
}