.PricingSection {
    color: #ffffff;
}


.PricingCard {
    background: linear-gradient(145deg, #0a0f1c, #111829);
    padding: 0;
    box-shadow:
    inset 0px 1px 1px #0785F470,
    inset 0px 2px 2px #0785F450,
    inset 0px 4px 4px #0785F430,
    inset 0px 8px 8px #0785F420,
    inset 0px 16px 16px #0785F410,
    0px -1px 1px #0785F405,
    0px -2px 2px rgba(0, 0, 0, 0.03),
    0px -4px 4px rgba(0, 0, 0, 0.05),
    0px -8px 8px rgba(0, 0, 0, 0.06),
    0px -16px 16px rgba(0, 0, 0, 0.08);
    width: 95%;
    margin: 0 auto;
    /*border: none;*/
    /*border-radius: 12px;*/
}

.PricingCard ul {
    padding-left: 0;
    margin-bottom: 0;
}

.PricingCard li {
    font-family: "DM Sans", sans-serif;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #B5C0C9;
    font-size: 16px;
    font-weight: 300;
}

.PricingCard li img {
    margin-right: 8px; /* ← расстояние между иконкой и текстом */
    vertical-align: middle;
}

